@import url('https://fonts.googleapis.com/css2?family=Bukhari+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    justify-content: flex-start;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/CONTENT/Imagenes/fondo.jpg");
}

.card {
    width: 836px;
    height: 272.8px;
    display: flex;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 10px #595959;
    border-radius: 10px;
    transition: 0.1s;
    transform: scale(0.8);
    margin-top: -25px;
    background-color: fff;
}

.card:hover {
    transform: scale(0.82);
    box-shadow: 0 5px 20px #595959;
}

.card .img-card {
    width: 35.2%;
    height: 100%;
    background-size: cover;
}

.card .content {
    width: 74.8%; 
    height: 100%;
    display: grid;
    grid-template-rows: 60px;
    padding: 15px 20px;
}

.card .content .title {
    display: flex;
    justify-content: space-between;
}

.card .content .title .calorias {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.card .content .title h3 {
    font-size: 30.8px;
    color: #f1683a;
}

.card .content .title p {
    font-size: 17.6px; 
    font-weight: bolder;
}

.txtPropiedad {
    font-size: 16.5px; 
    font-weight: bolder;
}

.card .content .propiedad {
    font-size: 14.08px; 
    margin-top: 15px;
    line-height: 2;
    font-weight: 800;
}

.card .content .descripcion p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13.2px;
    font-weight: 700;
    line-height: 1.7;
    margin-top: 12px;
}

.sticky {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1;
    margin-bottom: 28px;
    background-image: url("/CONTENT/Imagenes/fondo.jpg");
    box-shadow: 0 5px 5px #595959;
}

h2 {
    font-family: Poppins;
    font-size: 40px;
    color: #ff8363;
    margin: 0 auto;
    width: 60%;
}
