@font-face {
    font-family: 'Bukhari Script';
    src: url('Bukhari Script.ttf');
    font-weight: bold;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../CONTENT/Imagenes/fondo.png');
}

.form-register {
    width: 75%;
    background: #121820;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

    .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f1683a;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    resize: none;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

    .form-register a:hover {
        color: white;
        text-decoration: underline;
    }

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}


#apartado_doble {
    display: flex;
    gap: 5%;
}

#recuadro {
    background: #24303c;
    border-radius: 10px;
    height: 190px;
    overflow-y: auto;
}


#ingresar_foto {
    text-align: center;
    width: 55%;
    height: 100%;
    /*background: #24303c;*/
    border-radius: 10px;
}

#imagen-preview {
    margin-top: 20px;
    margin-bottom: 10px;
}

#imagen {
    margin-bottom: 10px;
}


#añadir_ingrediente {
    text-align: left;
    text-size-adjust: 10px;
}

h1 {
    font-family: 'Bukhari Script';
    color:white;
}

h3 {
    font-family: 'Bukhari Script';
}

#descripcion_letra {
    height: 200px;
}

#pasos_letra {
    height: 200px;
}

#imagen::-webkit-file-upload-button {
    background-color: #f1683a; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    padding: 10px 15px; /* Ajusta el relleno del botón según sea necesario */
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

    /* Estilos adicionales para la apariencia del botón */
    #imagen::-webkit-file-upload-button:hover {
        background-color: #1a4177; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
    }

#ingresar_descripcion 
{
    margin-top: 20px;
}

    #ingresar_descripcion h4 {
        font-weight: lighter;
        word-wrap: break-word; /* Permite que el texto se divida en múltiples líneas */
    }

#ingresar_pasos {
    margin-top: 20px;
}
    #ingresar_pasos h4 {
        word-wrap: break-word;
        font-weight: lighter; 
    }

#agregar_ingrediente {
    background-color: #f1683a; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    padding: 10px 15px; /* Ajusta el relleno del botón según sea necesario */
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Agrega bordes redondeados */
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}

#boton_enviar 
{
    background-color: #f1683a;
}

.imagen-fija 
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 520px;
    height: 300px;
    height: auto;
    border-radius:10px;
}

div[name="cuadroIngredientes"] 
{
    margin-top:20px;
    display: flex;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    /* background: #0080ff; */

    align-items: center; /* Alinear verticalmente los elementos */
    gap: 10px; /* Espacio entre los elementos */
    padding: 20px;
}

h2[name="X_text"] {
    margin: 0 10px;
    margin-bottom: 10px;
}

#titulo_tiempo
{
    display:flex;
    gap:10px;
}

#Tiempo
{
    width:20%;
}

#ingresar_titulo {
    display: flex;
    gap: 10px;
}

#recuadroIng {
    margin-top:10px;
    background: #24303c;
    border-radius: 10px;
    height: 190px;
    width: 400px;
    overflow-y: auto;
}

#apartado_dobleB {
    display: flex;
    gap: 10px;
}

#kcalRecuadro {
    display: flex;
    gap: 2px;
}
