@font-face {
    font-family: 'Bukhari Script';
    src: url('Bukhari Script.ttf');
    font-weight: bold;
    font-style: bold;
}

body {
    background: #121820;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri', sans-serif;
    color: white;
    text-align: center;
}

header {
    margin-bottom: 60px;
}

.form-register {
    width: 80%;
    margin: auto;
}

    .form-register h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }

.contenedor-separar {
    border-radius: 10px;
    background: #121820;
    color: white;
    padding: 30px;
    padding-top:70px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f1683a;
    color:#fff;
}

.form-register p {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

    .form-register a:hover {
        text-decoration: underline;
    }

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#apartado_doble {
    display: flex;
    justify-content: center;
    gap: 5%;
}

#recuadro {
    background: #24303c;
    border-radius: 10px;
    height: 190px;
    width: 45%;
    overflow-y: auto;
}

#ingresar_foto {
    text-align: center;
    width: 55%;
    border-radius: 10px;
}

#imagen-preview {
    margin-top: 20px;
    margin-bottom: 10px;
}

#imagen {
    margin-bottom: 10px;
}

#añadir_ingrediente {
    text-align: left;
}

h1, h3 {
    font-family: 'Bukhari Script', cursive;
}

#descripcion_letra,
#pasos_letra {
    height: 200px;
}

#imagen::-webkit-file-upload-button {
    background-color: #f1683a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #imagen::-webkit-file-upload-button:hover {
        background-color: #1a4177;
    }

#ingresar_descripcion,
#ingresar_pasos {
    margin-top: 20px;
}

#agregar_ingrediente,
#boton_enviar {
    background-color: #f1683a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}

.imagen-fija {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

div[name="cuadroIngredientes"] {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

h2[name="X_text"] {
    margin: 0 10px;
    margin-bottom: 10px;
}

#titulo_tiempo,
#ingresar_titulo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#recuadroIng {
    margin-top: 10px;
    background: #24303c;
    border-radius: 10px;
    height: 190px;
    width: 45%;
    overflow-y: auto;
}

#apartado_dobleB {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#kcalRecuadro {
    display: flex;
    gap: 2px;
}
